body {
  background: url("../assets/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-top: 50px;
}

.menu button {
  display: block;
  margin: 15px auto;
  padding: 12px 24px;
  background: #5c3b1e;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s;
}

.menu button:hover {
  background: #8a613a;
}




